@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(206, 210, 177, 0.8) url("imagens/fundo.png");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    max-height: 1080px;
}

.site {
    min-height: 100%;
    display: grid;
    /*grid-template-columns: 2fr 2fr;*/
    grid-template-columns: auto;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer"
}

header {
    background-color: #ced2b1;
    grid-area: header;
    grid-template-rows: 30vw;
}

main {
    grid-area: main;
}

footer {
    background-color: #ced2b1;
    grid-area: footer;
    grid-template-rows: 30vw;
}

.logo {
    width:400px;
    height:200px;
    position: fixed;
    display: flex;
    margin: -40px;
    padding: 100px;
    padding-left: 300px;
    margin-left: 120px;
    left: 30px;
    bottom: 210px;
}
img {
    max-height: 1080px;
    max-width: 1920px;
    width: calc((100%-400/2));
    height: 100%;
    top: 200px;
    
}
.botoes{
    align-content: center;
    justify-content: center;
    position: fixed;
}
.botoes > ul{
    max-height:1080px;
    max-width:1920px;
    color: #442E1F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    right: -390px;
    top: 350px;
    list-style: none;
}
.explorar{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F8f6f4;
}
.pesquisar{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F8f6f4;
}
.apoie{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F8f6f4;
}
a{
  text-decoration: none;
    color: #442E1F;
}
.explorar:hover{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: #F8f6f4;
    background-color: #442E1F;
}
.pesquisar:hover{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: #F8f6f4;
    background-color: #442E1F;
}
.apoie:hover{
    border: 2px solid #C3AE8B;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: #F8f6f4;
    background-color: #442E1F;
}
.menuzito{
    position: relative;
    top: -55px;
    font-size: 40px;
    color: #9ba785;
    margin-left: 24px;
}
.bi-list:hover{
    color: #442E1F;
}
.menu{
    background-color: #76583D;
    height: 550px; 
    width: 200px;
    top: -4px;
    position: relative;
    border-radius: 10px;
    padding: 0; 
    margin: 0;
}
menu > ul.lateral{
    list-style: none;
    display: flex;
    gap: 0px;
}
.item1{
    margin: 0;
    padding: 0;
    padding-left: 60px;
    top: -60px;
    position: relative; 
    color: #F8f6f4;
    right: 30px;
}
.item2{
    font-size: 30px;
    margin: 0;
    padding: 0;
    left: -80px;
    top: -40px;
    position: relative;
    color: #F8f6f4;
    right: 30px;
}
