@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(206, 210, 177, 0.8) url("fundo.png");
    background-position: fixed;
    background-size: cover;
    background-repeat: repeat;
    max-height: 1080px;
    overflow-y: hidden;
}

.site {
    display: grid;
    /*grid-template-columns: 2fr 2fr 2fr;*/
    grid-template-columns: auto;
    grid-template-rows: 10vh 80vh 20vh;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer"
}

header {
    position: relative;
    background-color: rgba(206, 210, 177, 0.8);
    grid-area: header;
    grid-template-columns: 100%;
}
main {
    position: relative;
    grid-area: main;
}

footer {
    position: relative;
    background-color: rgb(206, 210, 177, 0.8);
    grid-area: footer;
    grid-row-start: 3;
    grid-row-end: 4;
}

.logo {
	/*telas maiores que 1366x768 não precisam do width e do height com valores tão baixos*/
    width:400px;
    height:400px;
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 400px;
    margin-left: 120px;
    left: 50px;
    top: 120px;
}
.botoes{
    align-content: center;
    justify-content: center;
    position: absolute;
}
.botoes > ul{
    color: #442E1F;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
	left: 530px;
    right: -390px;
    top: 550px;
    list-style: none;
}
.explorar{
    border: 5px solid #C3AE8B;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F8f6f4;
}
.pesquisar{
    border: 5px solid #C3AE8B;
    border-radius: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F8f6f4;
}
.apoie{
  align-content: center;
    border: 5px solid #C3AE8B;
    border-radius: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F8f6f4;
}
a{
  text-decoration: none;
    color: #442E1F;
}
.explorar:hover{
    border: 5px solid #F8f6f4;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 80px;
    padding-right: 80px;
    color: #F8f6f4;
    background-color: #C3AE8B;
}
.pesquisar:hover{
    border: 5px solid #F8f6f4;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 80px;
    padding-right: 80px;
    color: #F8f6f4;
    background-color: #C3AE8B;
}
.apoie:hover{
    border: 5px solid #f8f6f8;
    border-radius: 40px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 80px;
    padding-right: 80px;
    color: #F8f6f4;
    background-color: #C3AE8B;
}
.menuzito{
    position: relative;
    top: -97px;
    font-size: 50px;
    color: #9ba785;
    margin-left: 24px;
}
.bi-list:hover{
    color: #442E1F;
}
.menu .lateral{
	font-family: Montserrat, sans-serif;
    background-color: #76583D;
    height: 400px;
    width:0;
    top: -100px;
    position: relative;
    border-radius: 10px;
    padding: 0; 
    margin: 0;
    overflow-x: hidden;
    overflow-y: hiddden;
}
.lateral{
    list-style: none;
    display: flex;
    gap: 5px;
}
.item0{
  /*  position: relative;
    padding: 0;
    margin: 0;
    top: 5px;
    left: 300px;
    color: #f8f6f4;
    font-size: 30px;
    border: 2px solid #9f8562;
    border-radius: 25px;
    margin-bottom: 46rem;
    background-color: #9f8562;
*/
    position: relative;
    padding: 0;
    margin: 0;
    top: 10px;
    left: 300px;
    color: #9f8562;
    font-size: 30px;
}
#x{
    left: 265px;
    color: #76583D;
}
.item1{
    position: relative;
    padding: 0;
    margin: 0;
    top: 70px;
    left: 40px;
    color: #f8f6f4;
    font-size: 30px;
}
.item2{
    font-size: 70px;
    align-content: center;
    color: #f8f6f4;
    padding: 0;
    margin: 0;
    left: -40px;
    top: 100px;
    position: relative;
}
.bi-x:hover{
    cursor: pointer;
    color: #f8f6f4;
}
